
# test configs and output plots
configs/test*.yaml
configs/dev/*
plots/*

# ignore all .h5 files
# NOTE: put ones for CI into sep folder
Datasets/*.h5
Datasets/graphs
Datasets/basic
Datasets/full
Datasets/test
Datasets/dev_configs
Datasets/dev
Datasets/signal

# all state dict and model files
models/outputs

# all .pyc files
insights/__pycache__
__pycache__/
models/__pycache__
utils/__pycache__

# enviroment
MLenv/*

# extra
tips.txt
Worklog.md

# UChicago
TrainingLogs/*

# HTCondor
HTCondor/logs
HTCondor/TEST

# Tuning
tuning_tests/*

# docs in dev
docs/

# misc dev stuff tmp
models/networks/transformers/dynGATv2.py
test_log_transforms_idea.py